@import "tailwindcss";

@theme {
  /* Fonts */
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Poppins", sans-serif;

  /* Furnora Colors */
  --color-primary: #162839;
  --color-primary-container: #2c3e50;

  --color-secondary: #735a36;
  --color-secondary-light: #fddaac;

  --color-background: #fcf9f8;
  --color-surface: #f6f3f2;

  --color-text-primary: #1b1b1b;
  --color-text-secondary: #43474c;
  --color-text-muted: #74777d;

  --color-border: #e0ddd7;
  --color-white: #ffffff;
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  button {
    cursor: pointer;
  }
}